<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testng_example" parallel="false">
    <test verbose="2" preserve-order="true" name="TestngExample">
        <classes>
            <class name="TestngExample"></class>
        </classes>
    </test>
</suite>